<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FriendStagram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA9A34421DA6DF8700AED7FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA9A34561DA6DF8700AED7FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA9A34611DA6DF8700AED7FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
